* {
    margin: 0;
    padding: 0;
}

.app--container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register--container {
    padding: 10px 20px;
    width: max-content;
    height: max-content;

    margin-top: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.register--title {
    text-align: center;
    margin-bottom: 20px;
    font-family: monospace;
}

.register--input {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
}

.register--button {
    padding: 2px 5px;
}