.card--container{
    width: 250px;
    border: 3px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}


.card--container:hover{
    background-color: aqua ;
}

.card--title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card--category{
    margin-top: 5px;

}
